@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



#menu ul{
    list-style: none;
    background-color: black;
    opacity: 85%;
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    margin: 0px;
    padding: 23px;
    border-bottom: solid 1px grey;
    flex-direction:row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;

}

#menu a{
  text-decoration: none;  
  color: aliceblue;
  padding: 12px 26px;
  font-family: "Roboto";
  font-size: 38px;
  display: block;
}

h2{
    margin-top: 150px;
}