@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


#menu ul{
    list-style: none;
    background-color: rgba(0, 0, 0, .8);
    display: inline;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    margin: 0px;
    padding: 30px;
    box-shadow: 3px;
    border-bottom: solid 1px grey;

}

#menu ul li{
    float: left;
   }

#menu a{
  text-decoration: none;  
  color: aliceblue;
  display: block;
  padding: 12px 26px;
  font-family: "Roboto";
  font-size: 38px;
}

video{
    height: 100%;
    width: 100%;
    opacity: 100%;
    position: relative;
    top: -70px;
   
}

