/*CONTACTO*/

#sesion {
    background-color: #f7f7f700;
    padding-top: 10%;
    padding-bottom: 5%;
  
  }
  
  #sesion h2 {
    color: #333;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  
  #sesion form {
    background-color: #fff;
    border-radius: 5px;
    padding: 40px;
    top: 20%;
  }
  
  #sesion form label {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #sesion form input[type="text"],
  #sesion form input[type="email"],
  #sesion form textarea {
    background-color: #f7f7f7;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
  }
  
  #sesion form input[type="text"]:focus,
  #sesion form input[type="email"]:focus,
  #sesion form textarea:focus {
    background-color: #f7f7f7;
    border: black;
    border-style: solid;
    border-radius: 0;
    box-shadow: none;
    color: #333;
  }
  
  #sesion form .input-group-text {
    background-color: #f7f7f7;
    border: none;
    border-radius: 0;
    color: #333;
    font-size: 16px;
  }
  
  #contacto form .btn {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
  }
  
  #sesion form .btn:hover {
    background-color: #333;
  }
  
  body {
    background-image: url("../exit/3695065.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .dark {
    /* Cambiamos el color del texto a blanco */
    color: #000000;
    
    /* Cambiamos el color de fondo a negro */
    background-color: #ded2d2;
  }
  
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    /* Cambiamos el color de los títulos a blanco */
    color: #000000;
  }
  
  .dark .btn {
    /* Cambiamos el color de los botones a un gris oscuro */
    background-color: #333;
    color: #fff;
    text-decoration: none;
    
  }

.btn-link{
    text-decoration: none !important;
}

.btn-link:hover{
    text-decoration: none !important;
    color: #fff !important;
    background-color: #000000 !important;
}

  .dark input[type="text"], .dark input[type="email"], .dark input[type="tel"] {
    /* Cambiamos el color de fondo y el color del texto de los campos de entrada */
    background-color: #f7f7f7;
    color: #000000;  
  }
  
  /* Agregamos un estilo para el texto de las preguntas frecuentes */
  .dark .faq-question {
    color: #fff;
  }
  
  /* Agregamos un estilo para el texto de las respuestas de las preguntas frecuentes */
  .dark .faq-answer {
    color: #ccc;
  }
  
  .navbar {
    background-color: #333;
    font-size: 18px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-link {
    color: #fff !important;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #ccc !important;
  }
  

  
  
  
  /*NAVBAR*/
    
  .custom-primary {
    background-color: #2c4a54 !important;
  }
  
  .custom-secondary {
    background: #ffb727;
  }
  
    
    @media (max-width: 430px) {
      .img-responsive{
        width: 90px !important;
      }
      }
    
      @media (max-width: 391px) {
        .img-responsive{
          width: 80px !important;
        }
        }
    
    .navbar-brand{
      margin: 0 ;
      padding: 0;
    }
   
   


  
  