/* Estilos para el encabezado de la página */
.navbar {
    background-color: #191919;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  /* Estilos para los contenedores de destinos */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #1f7ae0;
    border: none;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    background-color: #1351a9;
  }
  
  /* Estilos para los títulos */
  h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  /* Estilos para el fondo de la página */
  body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1475568498266-cee886fd22ec");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #191919;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
  }
  