.background-video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -4;
    object-fit: cover;
  }

#video-title{
    min-height: 100vh;
    position: relative;
  }
  
  .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.1;
    z-index: 1;
    mix-blend-mode: overlay;
  }

  .promo{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
  }