
.banner-img {
    background-image:url(../exit/img/banner/bradcam.png)
}

.banner{
    padding:170px;
    background-size:cover;
    background-position:center center;
    text-align:center;
    padding:269px 0 159px 0
}

@media (max-width: 767px){
    .banner{
        padding:150px 0
    }
    }

.banner h3{
    font-size:60px;
    color:#fff;
    font-weight:400;
    margin-bottom:0;
    text-transform:capitalize
}

@media (max-width: 767px){
    .banner h3{
        font-size:30px}
}

.about_area {
    padding-top: 200px;
    padding-bottom: 100px
}

@media (max-width: 767px) {
    .about_area {
        padding-top:40px;
        padding-bottom: 40px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about_area {
        padding-top:80px;
        padding-bottom: 80px
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .about_area {
        padding-top:100px;
        padding-bottom: 100px
    }
}

.about_area .about_info p {
    font-size: 16px;
    line-height: 28px;
    font-size: 16px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 47px
}


.about_area .about_thumb img {
    width: 100%
}

.about_area .about_thumb .img_2 {
    margin-top: 40px;
    margin-left: 10px
}

@media (min-width: 768px) and (max-width: 991px) {
    .about_area .about_thumb2 {
        margin-bottom:30px
    }
}

.about_area .about_thumb2 img {
    width: 100%
}

.about_area .about_thumb2 .img_2 {
    margin-top: 40px;
    margin-left: 10px
}




.ofertas {
    padding-bottom: 100px
}

@media (max-width: 767px) {
    .ofertas {
        padding-bottom:40px
    }
}

@media (max-width: 767px) {
    .ofertas .single_offers {
        margin-bottom:30px
    }
}

.ofertas .single_offers .about_thumb {
    overflow: hidden
}

.ofertas .single_offers h3 {
    font-size: 22px;
    font-weight: 400;
    color: #1F1F1F;
    margin-top: 32px
}

@media (min-width: 768px) and (max-width: 991px) {
    .ofertas .single_offers h3 {
        font-size:18px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ofertas .single_offers h3 br {
        display:none
    }
}

.ofertas .single_offers ul {
    margin-top: 17px;
    margin-bottom: 30px
}

.ofertas .single_offers ul li {
    font-size: 16px;
    color: #4D4D4D;
    line-height: 28px;
    position: relative;
    z-index: 9;
    padding-left: 23px
}

.ofertas .single_offers a {
    width: 100%;
    text-align: center
}

.ofertas .single_offers:hover .about_thumb img {
    transform: scale(1.2);
    box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
    cursor: pointer;
}

.book_now {
    display: inline-block;
    font-size: 14px;
    color: $customprimary;
    border: 1px solid $customprimary;
    text-transform: capitalize;
    padding: 10px 25px
}

.book_now:hover {
    background: $customprimary;
    color: #fff
}

.section_title span {
    color: $customprimary;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    display: block
}