/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
$customprimary: #ffb727;
$custom-secondary:#2c4a54;

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: $customprimary;
    text-decoration: none;
  }
  
  a:hover {
    color: $customprimary;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: white;
  }
  
  .section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 2.5vh;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
  }
  
  .section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 3vh;
    text-transform: uppercase;
    line-height: 0;
  }
  
  iframe{
    padding-bottom: 1vw;
  }
  
  
  
  /*NAVBAR*/
    
  .custom-primary {
    background-color: $custom-secondary !important;
  }
  
  .custom-secondary {
    background: $customprimary;
  }
  
    
    @media (max-width: 430px) {
      .img-responsive{
        width: 90px !important;
      }
      }
    
      @media (max-width: 391px) {
        .img-responsive{
          width: 80px !important;
        }
        }
    
    .navbar-brand{
      margin: 0 ;
      padding: 0;
    }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #2c4a54 top center no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 80px 0;
    position: relative;
  }
  
  #footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $custom-secondary(156, 63, 63, 0.6);
  }
  
  #footer .container {
    position: relative;
  }
  
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Satisfy", serif;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: $customprimary;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #f3a200;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }
  
  
  
  
    /*INDEX*/

    header.masthead {
      position: relative;
      background-color: #3078c1;
      background: url(../exit/bg-masthead.jpg) no-repeat center center;
      background-size: cover;
      padding-top: 8rem;
      padding-bottom: 3rem;
      top: 8rem;
    }
  
    .bg-light{
      background: #128c7e !important;
    }
    
    header.masthead:before {
      content: "";
      position: absolute;
      background-color: #1c375e !important;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 2rem;
    }
    @media (min-width: 768px) {
      header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
      }
      header.masthead h1, header.masthead .h1 {
        font-size: 3rem;
      }
      
    }
    .features-icons {
      padding-top: 8rem;
      padding-bottom: 8rem;
      position: relative;
      top: 6.3rem;
      align-content: center;
     
    }
    .features-icons .features-icons-item {
      max-width: 20rem;
    } 
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem;
    }
    .features-icons .features-icons-item .features-icons-icon i {
      font-size: 4.5rem;
    }
    
    footer.footer {
      padding-top: 4rem;
      padding-bottom: 4rem;
      position: static;
      bottom: 0;
    }
    
  
  
  
  
  
  
  
    /*CONTACTO*/
  
    #contacto {
      background-color: #f7f7f700;
      padding-top: 20%;
      padding-bottom: 5%;
    
    }
    
    #contacto h2 {
      color: #333;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
      text-align: center;
    }
    
    #contacto form {
      background-color: #fff;
      border-radius: 5px;
      padding: 40px;
      top: 20%;
    }
    
    #contacto form label {
      color: #333;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    #contacto form input[type="text"],
    #contacto form input[type="email"],
    #contacto form input[type="tel"],
    #contacto form textarea {
      background-color: #f7f7f7;
      border: black;
      border-style: solid;
      border-width: 1px;
      border-radius: 0;
      box-shadow: none;
      color: #333;
      font-size: 16px;
      margin-bottom: 20px;
      padding: 15px;
      width: 100%;
    }
    
    #contacto form input[type="text"]:focus,
    #contacto form input[type="email"]:focus,
    #contacto form input[type="tel"]:focus,
    #contacto form textarea:focus {
      background-color: #f7f7f7;
      border: black;
      border-style: solid;
      border-radius: 0;
      box-shadow: none;
      color: #333;
    }
    
    #contacto form .input-group-text {
      background-color: #f7f7f7;
      border: none;
      border-radius: 0;
      color: #333;
      font-size: 16px;
    }
  
  
    
    #contacto form .btn {
      background-color: #333;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding: 15px 30px;
      transition: background-color 0.3s ease;
    }
    
    #contacto form .btn:hover {
      background-color: #333;
    }
    
    .body-contacto {
      background-image: url("../exit/ios-11-1920x1080-4k-5k-beach-ocean-13655.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .dark {
      /* Cambiamos el color del texto a blanco */
      color: #000000;
      
      /* Cambiamos el color de fondo a negro */
      background-color: #ded2d2;
    }
    
    .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
      /* Cambiamos el color de los títulos a blanco */
      color: #000000;
    }
    
    .dark .btn {
      /* Cambiamos el color de los botones a un gris oscuro */
      background-color: #333;
      color: #fff;
      text-decoration: none;
      
    }
  
  .btn-link{
      text-decoration: none !important;
  }
  
  .btn-link:hover{
      text-decoration: none !important;
      color: #fff !important;
      background-color: #000000 !important;
  }
  
    .dark input[type="text"], .dark input[type="email"], .dark input[type="tel"] {
      /* Cambiamos el color de fondo y el color del texto de los campos de entrada */
      background-color: #f7f7f7;
      color: #000000;  
    }
    
    /* Agregamos un estilo para el texto de las preguntas frecuentes */
    .dark .faq-question {
      color: #fff;
    }
    
    /* Agregamos un estilo para el texto de las respuestas de las preguntas frecuentes */
    .dark .faq-answer {
      color: #ccc;
    }
    
    .navbar {
      background-color: #333;
      font-size: 18px;
    }
    
    .navbar-brand {
      font-size: 24px;
      font-weight: bold;
    }
    
    .nav-link {
      color: #fff !important;
      font-weight: bold;
    }
    
    .nav-link:hover {
      color: #ccc !important;
    }
  
    /*BOTON DE WHATSAPP*/
  
    .whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 48px;
    line-height: 75px;
    transition: all 0.2s ease-in-out;
    z-index: 9999;
  }
  
  .whatsapp:hover {
    background-color: #128c7e;
  }
  
  @media(max-width: 420px){
      .whatsapp{
          width: 60px;
          height: 60px;
          font-size: 35px;
          line-height: 60px;
      }
  }
  
  
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, rgb(243, 242, 240) 0%, rgb(255, 255, 255) 100%);
    padding: 0;
    margin-top: 10vh;
    color: rgb(255, 183, 39);
    color: hwb(195 17% 67%);
    
  }
  
  #slide1{
    background-image: url(../exit/DESTINOS/MEDITERRANEO.jpg);
    background-size: cover;
    border-style: none;
  }
  
  #slide2{
    background-image:url(../exit/DESTINOS/EMIRIATOS\ ARABES.jpg);
    background-size: cover;
    border-style: none;
  }
  
  #slide3{
    background-image: url(../exit/DESTINOS/ALASKA.jpg);
    background-size: cover;
    border-style: none;
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 50vh;
    padding-top: 60px;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero p {
    width: 80%;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 10%;
  }
  
  
  #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
    padding-right: 10vw;
    }
  
  #hero .carousel-control-next-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
    padding-left: 10vw;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    animation-delay: 0.8s;
    border: 2px solid #ef6603;
  }
  
  #hero .btn-get-started:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-width: 768px) {
    #hero .carousel-container {
      height: 90vh;
    }
  
    #hero h2 {
      font-size: 28px;
    }
  }
  
  .hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
  }
  
  .wave1 use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
  }
  
  .wave2 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
  }
  
  .wave3 use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  
  #destinos-index{
    margin-top: 0;
  }
  
  .services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    background-image:url("../exit/DESTINOS/ALASKA.jpg");
    background-size: cover;
    color: #14a422;  
    
  }
  
  #Dest-top-left{
    background-image: url("../exit/DESTINOS/EMIRIATOS\ ARABES.jpg");
    background-size: cover;
  }
  
  #Dest-top-mid{
    background-image: url("../exit/DESTINOS/SUDAMERICA.jpg");
    background-size: cover;
  }
  
  #Dest-top-right{
    background-image: url("../exit/DESTINOS/TAILANDIA.jpg");
    background-size: cover;
  }
  
  #Dest-bot-left{
  background-image: url("../exit/DESTINOS/MEDITERRANEO.jpg");
  background-size: cover;
  }
  
  #Dest-bot-mid{
    background-image: url(../exit/DESTINOS/AMALFI.jpg);
    background-size: cover;
  }
  
  
  .services .icon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
  }
  
  .services .icon {
    position: absolute;
    left: -20px;
    top: calc(50% - 30px);
  }
  
  .services .icon i {
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
  }
  
  .services .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .title a {
    color: #fff;
    transition: ease-in-out 0.3s;
   }
  
  .services .title a:hover {
    color: #fff;
  }
  
  .services .description {
    font-size: 17px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: white;
    }
  
  
  /*--------------------------------------------------------------
  # Contact Me
  --------------------------------------------------------------*/
  .contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
  }
  
  
  .contact .info-box i.bx {
    font-size: 24px;
    color: #ffb727;
    border-radius: 50%;
    padding: 15px;
    background: #fff6e4;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .contact .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #687683;
    line-height: 1;
    margin: 0 8px;
    transition: 0.3s;
    padding: 14px;
    border-radius: 50px;
    border: 1px solid #dde1e4;
  }
  
  .contact .social-links a:hover {
    color: #fff;
    border-color: #ffb727;
    background: #ffb727;
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 27px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .btn-outline-primary, .btn-primary, .btn-outline-primary:hover, .btn-primary:hover {
    background-color: #ffb727 !important;
    outline: #ffb727 !important;
    border-color: #ffb727 !important;
    color: #fff;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input::focus,
  .contact .php-email-form textarea::focus {
    background-color: #ffb727;
  }
  
  
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  
  .contact .php-email-form button[type=submit] {
    background: #ffb727;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #ffc85a;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  
  
  /*FLOTA*/
  
  /*Texto izquierda*/
  
  .about .content h3 {
    font-weight: 700;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding: 0 0 8px 26px;
    position: relative;
  }
  
  .about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: #ffc451;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  /*Texto derecha*/
  
  .text-black {
    color: #000 !important; }
  
  .check-availabilty {
    margin-top: -2vh;
    position: relative; 
    top: 130px;
    align-items: center;
  }
  .check-availabilty .block-32 {
    background: #fff;
    border-radius: 10px; }
  
  .field-icon-wrap {
    position: relative; }
  .field-icon-wrap .form-control {
    position: relative;
    padding-right: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #a6a6a6; }
  .field-icon-wrap .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    z-index: 2; }
  .field-icon-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }
    
  
    .block-32 {
      background: #fff;
      padding: 30px;
      -webkit-box-shadow: 0 2px 80px -10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 80px -10px rgba(0, 0, 0, 0.2);
      width: 100%; }
      .block-32 .field-icon-wrap {
        position: relative; }
        .block-32 .field-icon-wrap .form-control {
          position: relative;
          padding-right: 40px;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          color: #a6a6a6; }
        .block-32 .field-icon-wrap .icon {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          right: 15px;
          z-index: 2; }
        .block-32 .field-icon-wrap select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 100%; }
  
          .btn {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 50px; }
            .btn.btn-outline-white {
              border: 2px solid #fff; }
              .btn.btn-outline-white:hover {
                border: 2px solid transparent;
                background: #000;
                color: #fff; }
            .btn.btn-outline-white-primary {
              border: 2px solid #fff; }
              .btn.btn-outline-white-primary:hover {
                border: 2px solid transparent;
                background: #ffba5a;
                color: #fff; }
            .btn.uppercase {
              text-transform: uppercase;
              font-size: 14px;
              letter-spacing: .2em; }
          
          .btn, .form-control {
            outline: none;
            -webkit-box-shadow: none !important;
            box-shadow: none !important; }
            .btn:focus, .btn:active, .form-control:focus, .form-control:active {
              outline: none; }
          
          .form-control {
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            height: 50px;
            border-width: 2px; }
            .form-control:active, .form-control:focus {
              border-color: #ffba5a; }
          
          textarea.form-control {
            height: inherit; }
  
  
            .flota-container{
  
              padding-top: 15%;
            } 
  
  /*DIV DE 5 FOTOS*/
  
  .instragram_area{
    padding-top: 6%;
    width: 100%;
    display:block;
    overflow:hidden}
  
  .instragram_area .single_instagram{width:20%;float:left;position:relative;overflow:hidden}
  
  @media (max-width: 767px){
  
  .instragram_area .single_instagram{width:100%}}
  
  @media (min-width: 768px) and (max-width: 991px){
  
  .instragram_area .single_instagram{width:50%}}
  
  .instragram_area .single_instagram img{
    
  width:100%;
  -webkit-transform:scaleX(1);
  -moz-transform:scaleX(1);
  -ms-transform:scaleX(1);
  transform:scaleX(1);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s}
  
  .instragram_area .single_instagram .ovrelay{
    
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.2);
  -webkit-transform:translateX(-80%);
  -moz-transform:translateX(-80%);
  -ms-transform:translateX(-80%);
  transform:translateX(-80%);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  opacity:0;
  visibility:hidden}
  
  .instragram_area .single_instagram .ovrelay a{
    
  color:#fff;
  position:absolute;
  left:0;
  top:50%;
  transform:translateY(-50%);
  right:0;
  text-align:center;
  font-size:34px;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%)}
  
  .instragram_area .single_instagram:hover .ovrelay{
    
  -webkit-transform:translateX(0%);
  -moz-transform:translateX(0%);
  -ms-transform:translateX(0%);
  transform:translateX(0%);
  opacity:1;
  visibility:visible}
  
  .instragram_area .single_instagram:hover img{
    
  -webkit-transform:scaleX(1.1);
  -moz-transform:scaleX(1.1);
  -ms-transform:scaleX(1.1);
  transform:scaleX(1.1)}
  
  /*MAIN 2*/
  
  /*CONTACTO*/
  
  #sesion {
      background-color: #f7f7f700;
      padding-top: 10%;
      padding-bottom: 5%;
    
    }
    
    #sesion h2 {
      color: #333;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
      text-align: center;
    }
    
    #sesion form {
      background-color: #fff;
      border-radius: 5px;
      padding: 40px;
      top: 20%;
    }
    
    #sesion form label {
      color: #333;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    #sesion form input[type="text"],
    #sesion form input[type="email"],
    #sesion form textarea {
      background-color: #f7f7f7;
      border: black;
      border-style: solid;
      border-width: 1px;
      border-radius: 0;
      box-shadow: none;
      color: #333;
      font-size: 16px;
      margin-bottom: 20px;
      padding: 15px;
      width: 100%;
    }
    
    #sesion form input[type="text"]:focus,
    #sesion form input[type="email"]:focus,
    #sesion form textarea:focus {
      background-color: #f7f7f7;
      border: black;
      border-style: solid;
      border-radius: 0;
      box-shadow: none;
      color: #333;
    }
    
    #sesion form .input-group-text {
      background-color: #f7f7f7;
      border: none;
      border-radius: 0;
      color: #333;
      font-size: 16px;
    }
    
    #contacto form .btn {
      background-color: #333;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding: 15px 30px;
      transition: background-color 0.3s ease;
    }
    
    #sesion form .btn:hover {
      background-color: #333;
    }
    
    .body-user{
      background-image: url("../exit/3695065.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .dark {
      /* Cambiamos el color del texto a blanco */
      color: #000000;
      
      /* Cambiamos el color de fondo a negro */
      background-color: #ded2d2;
    }
    
    .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
      /* Cambiamos el color de los títulos a blanco */
      color: #000000;
    }
    
    .dark .btn {
      /* Cambiamos el color de los botones a un gris oscuro */
      background-color: #333;
      color: #fff;
      text-decoration: none;
      
    }
  
  .btn-link{
      text-decoration: none !important;
  }
  
  .btn-link:hover{
      text-decoration: none !important;
      color: #fff !important;
      background-color: #000000 !important;
  }
  
    .dark input[type="text"], .dark input[type="email"], .dark input[type="tel"] {
      /* Cambiamos el color de fondo y el color del texto de los campos de entrada */
      background-color: #f7f7f7;
      color: #000000;  
    }
    
    /* Agregamos un estilo para el texto de las preguntas frecuentes */
    .dark .faq-question {
      color: #fff;
    }
    
    /* Agregamos un estilo para el texto de las respuestas de las preguntas frecuentes */
    .dark .faq-answer {
      color: #ccc;
    }
    
    .navbar {
      background-color: #333;
      font-size: 18px;
    }
    
    .navbar-brand {
      font-size: 24px;
      font-weight: bold;
    }
    
    .nav-link {
      color: #fff !important;
      font-weight: bold;
    }
    
    .nav-link:hover {
      color: #ccc !important;
    }
    
  /*MAIN 4*/
  
  .about_area {
      padding-top: 200px;
      padding-bottom: 100px
  }
  
  @media (max-width: 767px) {
      .about_area {
          padding-top:40px;
          padding-bottom: 40px
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .about_area {
          padding-top:80px;
          padding-bottom: 80px
      }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
      .about_area {
          padding-top:100px;
          padding-bottom: 100px
      }
  }
  
  .about_area .about_info p {
      font-size: 16px;
      line-height: 28px;
      font-size: 16px;
      line-height: 28px;
      margin-top: 0;
      margin-bottom: 47px
  }
  
  @media (max-width: 767px) {
      .about_area .about_info a {
          margin-bottom:30px
      }
  }
  
  .about_area .about_thumb {
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .about_area .about_thumb {
          -webkit-justify-content:flex-start;
          -moz-justify-content: flex-start;
          -ms-justify-content: flex-start;
          justify-content: flex-start;
          -ms-flex-pack: flex-start;
          margin-top: 30px
      }
  }
  
  .about_area .about_thumb img {
      width: 100%
  }
  
  .about_area .about_thumb .img_2 {
      margin-top: 40px;
      margin-left: 10px
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .about_area .about_thumb2 {
          margin-bottom:30px
      }
  }
  
  .about_area .about_thumb2 img {
      width: 100%
  }
  
  .about_area .about_thumb2 .img_2 {
      margin-top: 40px;
      margin-left: 10px
  }
  
  .about_bg_1 {
      background-image: url(../exit/img/banner/about_banner.png)
  }
  
  .about_info_area {
      padding-left: 387px;
      margin-top: 50px
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .about_info_area {
          padding-left:0px
      }
  }
  
  @media (max-width: 767px) {
      .about_info_area {
          padding-left:0px
      }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
      .about_info_area {
          padding-left:0px
      }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
      .about_info_area {
          padding-left:0px
      }
  }
  
  .about_info_area .single_slider {
      height: 750px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat
  }
  
  @media (max-width: 767px) {
      .about_info_area .single_slider {
          height:400px
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .about_info_area .single_slider {
          height:400px
      }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
      .about_info_area .single_slider {
          height:500px
      }
  }
  
  .about_main_info {
      padding-top: 100px
  }
  
  @media (max-width: 767px) {
      .about_main_info {
          padding-top:50px
      }
  }
  
  .about_main_info .single_about_info {
      margin-bottom: 43px
  }
  
  @media (max-width: 767px) {
      .about_main_info .single_about_info {
          margin-bottom:30px
      }
  }
  
  .about_main_info .single_about_info h3 {
      font-size: 22px;
      color: #1F1F1F;
      margin-bottom: 0;
      margin-bottom: 10px;
      line-height: 32px
  }
  
  .about_main_info .single_about_info p {
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: #4D4D4D
  }
  
  @media (max-width: 767px) {
      .about_main_info .single_about_info p br {
          display:none
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .about_main_info .single_about_info p br {
          display:none
      }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
      .about_main_info .single_about_info p br {
          display:none
      }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
      .about_main_info .single_about_info p br {
          display:none
      }
  }
  
  .offers_area {
      padding-bottom: 100px
  }
  
  @media (max-width: 767px) {
      .offers_area {
          padding-bottom:40px
      }
  }
  
  .offers_area.padding_top {
      padding-top: 200px
  }
  
  @media (max-width: 767px) {
      .offers_area.padding_top {
          padding-top:40px
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .offers_area.padding_top {
          padding-top:80px
      }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
      .offers_area.padding_top {
          padding-top:80px
      }
  }
  
  @media (max-width: 767px) {
      .offers_area .single_offers {
          margin-bottom:30px
      }
  }
  
  .offers_area .single_offers .about_thumb {
      overflow: hidden
  }
  
  .offers_area .single_offers .about_thumb img {
      width: 100%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
      transition: .3s
  }
  
  .offers_area .single_offers h3 {
      font-size: 22px;
      font-weight: 400;
      color: #1F1F1F;
      margin-top: 32px
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .offers_area .single_offers h3 {
          font-size:18px
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .offers_area .single_offers h3 br {
          display:none
      }
  }
  
  .offers_area .single_offers ul {
      margin-top: 17px;
      margin-bottom: 30px
  }
  
  .offers_area .single_offers ul li {
      font-size: 16px;
      color: #4D4D4D;
      line-height: 28px;
      position: relative;
      z-index: 9;
      padding-left: 23px
  }
  
  .offers_area .single_offers ul li::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      background: #4D4D4D;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 50%
  }
  
  .offers_area .single_offers a {
      width: 100%;
      text-align: center
  }
  
  .offers_area .single_offers:hover .about_thumb img {
      width: 100%;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1)
  }
  
  
  .features_room {
      padding-top: 93px;
      display: block;
      overflow: hidden
  }
  
  @media (max-width: 767px) {
      .features_room {
          padding-top:40px
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .features_room {
          padding-top:0
      }
  }
  
  .features_room .rooms_here .single_rooms {
      position: relative;
      width: 50%;
      float: left
  }
  
  @media (max-width: 767px) {
      .features_room .rooms_here .single_rooms {
          width:100%;
          margin-bottom: 30px
      }
  }
  
  .features_room .rooms_here .single_rooms::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: #ffffff;
      background: -moz-linear-gradient(top, #fff 0%, #000 77%);
      background: -webkit-linear-gradient(top, #fff 0%, #000 77%);
      background: linear-gradient(to bottom, #fff 0%, #000 77%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      z-index: 1;
      opacity: .5
  }
  
  .features_room .rooms_here .single_rooms .room_thumb {
      position: relative;
      overflow: hidden
  }
  
  .features_room .rooms_here .single_rooms .room_thumb img {
      width: 100%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
      transition: .5s
  }
  
  .features_room .rooms_here .single_rooms .room_thumb .room_heading {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      padding: 60px 60px 47px 60px
  }
  
  @media (max-width: 767px) {
      .features_room .rooms_here .single_rooms .room_thumb .room_heading {
          padding:20px
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
      .features_room .rooms_here .single_rooms .room_thumb .room_heading {
          padding:20px
      }
  }
  
  .features_room .rooms_here .single_rooms .room_thumb .room_heading span {
      font-size: 14px;
      color: #FFFFFF;
      margin-bottom: 9px;
      display: block;
      position: relative;
      z-index: 8
  }
  
  .features_room .rooms_here .single_rooms .room_thumb .room_heading h3 {
      font-size: 30px;
      color: #fff;
      position: relative;
      z-index: 8
  }
  
  @media (max-width: 767px) {
      .features_room .rooms_here .single_rooms .room_thumb .room_heading h3 {
          font-size:20px
      }
  }
  
  .features_room .rooms_here .single_rooms .room_thumb .room_heading a {
      color: #fff;
      text-transform: capitalize;
      font-weight: 600;
      position: relative;
      z-index: 8;
      -webkit-transform: translateY(-40px);
      -moz-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      transform: translateY(-40px);
      opacity: 0;
      visibility: hidden
  }
  
  .features_room .rooms_here .single_rooms .room_thumb .room_heading a:hover {
      color: #009DFF
  }
  
  .features_room .rooms_here .single_rooms:hover img {
      width: 100%;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1)
  }
  
  .features_room .rooms_here .single_rooms:hover .room_heading a {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
      visibility: visible
  }
  
  .book_now {
      display: inline-block;
      font-size: 14px;
      color: #ffb727;
      border: 1px solid #ffb727;
      text-transform: capitalize;
      padding: 10px 25px
  }
  
  .book_now:hover {
      background: #ffb727;
      color: #fff
  }
  
  .section_title span {
      color: #ffb727;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 15px;
      display: block
  }
  
  
  .breadcam_bg{background-image:url(../exit/img/banner/bradcam.png)}
  
  .breadcam_bg_1{background-image:url(../exit/img/banner/bradcam2.png)}
  
  .breadcam_bg_2{background-image:url(../exit/img/banner/banner.png)}
  
  .bradcam_area{padding:170px;background-size:cover;background-position:center center;text-align:center;padding:269px 0 159px 0}
  
  @media (max-width: 767px){.bradcam_area{padding:150px 0}}
  
  .bradcam_area h3{font-size:60px;color:#fff;font-weight:400;margin-bottom:0;text-transform:capitalize}
  
  @media (max-width: 767px){.bradcam_area h3{font-size:30px}}
  

  

  
  