/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import "colores";
@import "generales";
@import "usuario";
@import "contacto";
@import "flota";
@import "destinos";
 
    /*INDEX*/

    header.head {
      position: relative;
      background-color: #3078c1;
      background: url(../exit/3695065.jpg) no-repeat center center;
      background-size: cover;
      padding-top: 8rem;
      padding-bottom: 3rem;
      top: 8rem;
    }

    .head h1{
      color: #fff;
    }
  
    header.head:before {
      content: "";
      position: absolute;
      background-color: #1c375e;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0.5;
    }

    header.head h1, header.head .h1 {
      font-size: 2rem;
    }


    @media (min-width: 768px) {
      header.head {
        padding-top: 12rem;
        padding-bottom: 12rem;
      }
      header.head h1, header.head .h1 {
        font-size: 3rem;
      }
      
    }
    .features-icons {
      padding-top: 1rem;
      padding-bottom: 10rem;
      position: relative;
      top: 8rem;
      align-content: center;
      width: 80%;
      margin: auto;
     
    }
    .features-icons .features-icons-item {
      max-width: 20rem;
    } 
    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem;
    }
    .features-icons .features-icons-item .features-icons-icon i {
      font-size: 4.5rem;
    }
    
    footer.footer {
      padding-top: 4rem;
      padding-bottom: 4rem;
      position: static;
      bottom: 0;
    }
    
  
  // Carousel
  
  #carouselExampleCaptions{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  #carousel-father{
    width: 100%;
        a, p, h5{
          text-decoration: none;
          color: #fff;
          filter: drop-shadow(1px 1px 1px #000);
        }
  }

  
  /*-- SERVICES ---*/
  
  #destinos-index{
    margin-top: 0;
  }
  
  .services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    }
  
  #Dest-top-left{
    background-image: url("../exit/DESTINOS/EMIRIATOS\ ARABES.jpg");
    background-size: cover;
  }
  
  #Dest-top-mid{
    background-image: url("../exit/DESTINOS/SUDAMERICA.jpg");
    background-size: cover;
  }
  
  #Dest-top-right{
    background-image: url("../exit/DESTINOS/TAILANDIA.jpg");
    background-size: cover;
  }
  
  #Dest-bot-left{
  background-image: url("../exit/DESTINOS/MEDITERRANEO.jpg");
  background-size: cover;
  }
  
  #Dest-bot-mid{
    background-image: url("../exit/DESTINOS/AMALFI.jpg");
    background-size: cover;
  }

  #Dest-bot-right{
    background-image: url("../exit/DESTINOS/ALASKA.jpg");
    background-size: cover;
  }
  
  
  .services .icon-box:hover {
    transform: scale(0.9);
    box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
    cursor: pointer;
  }
  
  .services .icon {
    position: absolute;
    left: -20px;
    top: calc(50% - 30px);
  }
  
  .services .icon i {
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
  }
  
  .services .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    filter: drop-shadow(1px 1px 1px #000);

  }
  
  .services .title a {
    color: #fff;
    transition: ease-in-out 0.3s;
   }
  
  .services .title a:hover {
    color: #fff;
  }
  
  .services .description {
    font-size: 17px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: white;
    filter: drop-shadow(1px 1px 1px #000);


    }
  
  
  /*-- INDEX CONTACTO --*/
  .contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
  }
  
  
  .contact .info-box i.bx {
    font-size: 24px;
    color: $customprimary;
    border-radius: 50%;
    padding: 15px;
    background: #fff6e4;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .contact .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #687683;
    line-height: 1;
    margin: 0 8px;
    transition: 0.3s;
    padding: 14px;
    border-radius: 50px;
    border: 1px solid #dde1e4;
  }
  
  .contact .social-links a:hover {
    color: #fff;
    border-color: $customprimary;
    background: $customprimary;
  }
  
  .contact .email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 27px;
  }
  
  
  
  .btn-outline-primary, .btn-primary, .btn-outline-primary:hover, .btn-primary:hover {
    background-color: $customprimary !important;
    outline: $customprimary !important;
    border-color: $customprimary !important;
    color: #fff;
  }
  
  .contact .email-form input,
  .contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .email-form input::focus,
  .contact .email-form textarea::focus {
    background-color: $customprimary;
  }
  
  
  
  .contact .email-form input {
    padding: 10px 15px;
  }
  
  .contact .email-form textarea {
    padding: 12px 15px;
  }
  
  
  .contact .email-form button {
    background: $customprimary;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    margin-top: 8px;

  }
  
  .contact .email-form button:hover {
    background: $customprimary;
    padding: 10px 24px;
    border-radius: 60px;
  }
  
 
  
  
  

  

  
  